<div>
  Name: <%= @kitten.name %>
  <br><br>
  Age: <%= @kitten.age %>
  <br><br>
  Cuteness: <%= @kitten.cuteness %>
  <br><br>
  Softness: <%= @kitten.softness %>
</div>
<br>
<%= link_to "Delete", @kitten, method: :delete,
                                  data: { confirm: "You sure?" } %>
<br><br>
<%= link_to "Show all kitten entries", kittens_path %>
